.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #ffc0cb;
  padding: 0.5rem;
  place-items: center;
}

.Home {
  grid-column: 1/2;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 2rem;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.Shop {
  grid-column: 2/3;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 2rem;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.divCart {
  grid-column: 3/4;
  display: grid;
}

.cartItems {
  position: relative;
  background-color: red;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  height: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: white;
}

.Cart {
  height: 50px;
  width: 100%;
  cursor: pointer;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
